<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" th:href="@{/app.css}">
    <title>Giflib | Home</title>
</head>
<body>
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequuntur dolores doloribus eos esse harum iste modi voluptatem! At cumque dicta facere fuga minima nihil, sapiente soluta tempore ut vitae.</p>
<img th:src="@{/gifs/compiler-bot.gif}" alt="logo" />
</body>
</html>